.App {
  text-align: center;
}

.App p {
  font-size: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.Goal {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CompletedGoal {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  background-color: gray;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Goals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  background-color: teal;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}


.TaskInputField {
  width: 50vw;
  height: 2rem;
}

.Image{
  display: flex;
  flex-direction: column;
}

.Quote {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  background-color: white;
}
.Weather {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  background-color: white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
